services:
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Argentina/Buenos_Aires
    volumes:
      - C:\DockerData\Sonarr\config:/config
      - D:\Plex\Series:/tv
      - D:\Plex\Downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Argentina/Buenos_Aires
    volumes:
      - C:\DockerData\Radarr\config:/config
      - D:\Plex\Peliculas:/movies
      - D:\Plex\Downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Argentina/Buenos_Aires
    volumes:
      - C:\DockerData\Jackett\config:/config
      - D:\Plex\Downloads:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

  bazarr:
    image: linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Argentina/Buenos_Aires
    volumes:
      - C:\DockerData\Bazarr\config:/config
      - D:\Plex\Peliculas:/movies
      - D:\Plex\Series:/tv
    ports:
      - 6767:6767
    restart: unless-stopped